<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chat room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
</head>
<body style="margin-top: 10px;">
    <div id="app" class="container">

        <!--Only show before user logged in-->
        <!-- <div class="row" v-show="!userLoggedIn">
            <div class="col-md-6 col-md-offset-3">
                <form action="" name="loginForm" v-on:submit.prevent="">
                    <div class="row">
                        <div class="input-group">
                            <input class="form-control" type="text" autocomplete="off" v-model="userName" placeholder="Please give yourself a nickname" />
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="button" @click="login(userName)">Login</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->

        <div class="row well" style="min-height: 500px;" v-show="userLoggedIn">

            <!--online user list-->
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="userListHeading">
                        <span class="glyphicon glyphicon-user"></span> Channels
                    </div>
                    <div class="panel-body collapse in" id="userListBody" style="height:555px; overflow-y: auto;">
                        <ul class="list-group" id='channel-list'>
                            <!-- <li style="text-align: center;" class="list-group-item">{{user}}</li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <!--chat history-->
            <div class="col-md-9">

                <div class="panel panel-primary">
                    <div id='topheading' class="panel-heading"><span class="glyphicon glyphicon-comment"></span> Messages
                        
                    </div>
                    <div class="panel-body" style="height:500px; overflow-y: auto;">
                        <div id='msg-box'>
                        <!-- <ul id="messages" class="list-group"> -->
                            <!--chat message history-->
                            <!-- <li v-for="data in messagesHist" class="list-group-item"><span style="font-weight: bold;">{{data.userName}}</span> : {{data.message}}</li> -->
                        <!-- </ul> -->
                        </div>
                    </div>
                </div>
                <form action="" name="messageForm" v-on:submit.prevent="sendMessage(message)">
                    <div class="input-group">
                        <input id='inpmsg' class="form-control" type="text" autocomplete="off" v-model="message" placeholder="Type your message here" />
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="button" onclick="sendMessage()">Send</button>
                            <!-- <button class="btn btn-primary" type="button" @click="sendMessage(message)">Send</button> -->
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
    <!-- <script src="/socket.io/socket.io.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vue/dist/vue.js"></script> -->
    <script src="../app.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
